
<h2 class='container'>Aadarsh Pramod</h2>
<p>Hello!! and welcome to my personal website, filled with stuffs that are from my background of interest.
    I am currently a B.Tech Mechanical Engineering student at KMEA Engineering College. 
</p>
<p>Find out more about me in the About section.</p>
<h3>ACHIEVEMENTS</h3>
<h5>Active Member of Hackclub~</h5>
<img src={{myimage7}} height="100">
<h1></h1>
<img src={{myimage8}} height="200">
<h1 class='text-center'>Interests</h1>
<h3 class='container'>Drawing</h3>
<img src={{myimage3}} height="300">
<h2></h2>
<h3 class='container'>Travel & Exploration</h3>
<img src={{myimage4}} height="300">
<h2></h2>
<h3 class='container'>Cricket</h3>
<img src={{myimage5}} height="300">
<h2></h2>
<h3 class='container'>Sky-watching</h3>
<img src={{myimage6}} height="300">
