<div class='container'>
<h1>About me</h1>
<p>Hello everyone, myself Aadarsh Pramod currently pursuing my B.Tech Mechanical Engineering degree at KMEA Engineering College.
    I have certain skills which as mentioned here maketh me. I guess my Future would be brightened with Job and some explorations...!

</p>
</div>

<h1 class='container'>Education</h1>
<h3 class='container'>B.Tech</h3>
<p class='container'>Currently pursuing B.Tech in Mechanical Engineering from KMEA Engineering College.(KTU University) </p>
<div class="container">
<img src={{myimage1}} height="400">
</div>

<h3 class='container'>School</h3>
<p class='container'>Completed schooling from Kendriya Vidyalaya NAD, Aluva in the academic year 2019-2020.</p>
<div class='container'>
<img src={{myimage2}} height="500">
</div>
