<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div>
  <nav class="navbar navbar-light" style="background-color: #53cfee;">
    <div class="container">
      <a class="navbar-brand mb-0 h1" href='#'><h2>Aadtix</h2></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink='/'>Home</a>
          
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink='/about'>About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink='/contact'>Contact</a>
          </li>
          
          
        </ul>
        </div>
        
      </div>
  </nav>
  <head>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sticky-footer/">
  </head>
  
      <footer class="footer mt-auto py-3 bg-light">
        <div class="bottom-container">
          <span class="text-muted">
            <p>Email: aadarshcyber3tv@gmail.com</p>
            <p>Contact: 9072631363</p>
          </span>
        </div>
      </footer>

      
  

  
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
